.seg {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 0;
  top: 0;
  transform-origin: 40px 40px; }
  .seg .bar {
    position: absolute;
    margin: auto auto;
    width: 3px;
    height: 15px;
    background-color: #FFB500; }

.chain-loader {
  position: fixed;
  top: 18vw;
  left: calc(50vw - 75px);
  width: 160px;
  height: 160px;
  z-index: 9999;
  border-radius: 50%;
  box-shadow: 0px 4px 6px -5px rgba(31, 31, 31, 0.4), 0px 6px 8px -1px rgba(47, 47, 47, 0.34), 0px 10px 12px 4px rgba(63, 63, 63, 0.2); }
  .chain-loader .chain-loader-overlay {
    position: absolute;
    width: 160px;
    height: 160px;
    z-index: 9999;
    border-radius: 50%;
    opacity: .95;
    background-color: #1c1c1c; }
  .chain-loader .loader-text {
    position: absolute;
    font-size: 25px;
    line-height: 80px;
    left: 20px;
    top: 50px;
    vertical-align: middle;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", sans-serif;
    z-index: 10000; }
    .chain-loader .loader-text div {
      vertical-align: middle;
      text-align: center;
      color: #418939; }
      .chain-loader .loader-text div:nth-of-type(1) {
        animation: heartBeat 1.2s 0ms ease infinite; }
      .chain-loader .loader-text div:nth-of-type(2) {
        animation: heartBeat 1.2s 180ms ease infinite; }
      .chain-loader .loader-text div:nth-of-type(3) {
        animation: heartBeat 1.2s 360ms ease infinite; }
      .chain-loader .loader-text div:nth-of-type(4) {
        animation: heartBeat 1.2s 540ms ease infinite; }
      .chain-loader .loader-text div:nth-of-type(5) {
        animation: heartBeat 1.2s 720ms ease infinite; }
      .chain-loader .loader-text div:nth-of-type(6) {
        animation: heartBeat 1.2s 900ms ease infinite; }
  .chain-loader .segs {
    position: absolute;
    left: 40px;
    top: 40px;
    width: 80px;
    height: 80px;
    z-index: 10000; }
    .chain-loader .segs .seg:nth-child(1) {
      transform: rotate(0deg); }
      .chain-loader .segs .seg:nth-child(1) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-0 1680ms 0ms ease infinite; }
    .chain-loader .segs .seg:nth-child(2) {
      transform: rotate(10deg); }
      .chain-loader .segs .seg:nth-child(2) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-1 1680ms 60ms ease infinite; }
    .chain-loader .segs .seg:nth-child(3) {
      transform: rotate(20deg); }
      .chain-loader .segs .seg:nth-child(3) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-2 1680ms 120ms ease infinite; }
    .chain-loader .segs .seg:nth-child(4) {
      transform: rotate(30deg); }
      .chain-loader .segs .seg:nth-child(4) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-3 1680ms 180ms ease infinite; }
    .chain-loader .segs .seg:nth-child(5) {
      transform: rotate(40deg); }
      .chain-loader .segs .seg:nth-child(5) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-4 1680ms 240ms ease infinite; }
    .chain-loader .segs .seg:nth-child(6) {
      transform: rotate(50deg); }
      .chain-loader .segs .seg:nth-child(6) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-5 1680ms 300ms ease infinite; }
    .chain-loader .segs .seg:nth-child(7) {
      transform: rotate(60deg); }
      .chain-loader .segs .seg:nth-child(7) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-6 1680ms 360ms ease infinite; }
    .chain-loader .segs .seg:nth-child(8) {
      transform: rotate(70deg); }
      .chain-loader .segs .seg:nth-child(8) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-7 1680ms 420ms ease infinite; }
    .chain-loader .segs .seg:nth-child(9) {
      transform: rotate(80deg); }
      .chain-loader .segs .seg:nth-child(9) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-8 1680ms 480ms ease infinite; }
    .chain-loader .segs .seg:nth-child(10) {
      transform: rotate(90deg); }
      .chain-loader .segs .seg:nth-child(10) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-9 1680ms 540ms ease infinite; }
    .chain-loader .segs .seg:nth-child(11) {
      transform: rotate(100deg); }
      .chain-loader .segs .seg:nth-child(11) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-10 1680ms 600ms ease infinite; }
    .chain-loader .segs .seg:nth-child(12) {
      transform: rotate(110deg); }
      .chain-loader .segs .seg:nth-child(12) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-11 1680ms 660ms ease infinite; }
    .chain-loader .segs .seg:nth-child(13) {
      transform: rotate(120deg); }
      .chain-loader .segs .seg:nth-child(13) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-12 1680ms 720ms ease infinite; }
    .chain-loader .segs .seg:nth-child(14) {
      transform: rotate(130deg); }
      .chain-loader .segs .seg:nth-child(14) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-13 1680ms 780ms ease infinite; }
    .chain-loader .segs .seg:nth-child(15) {
      transform: rotate(140deg); }
      .chain-loader .segs .seg:nth-child(15) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-14 1680ms 840ms ease infinite; }
    .chain-loader .segs .seg:nth-child(16) {
      transform: rotate(150deg); }
      .chain-loader .segs .seg:nth-child(16) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-15 1680ms 900ms ease infinite; }
    .chain-loader .segs .seg:nth-child(17) {
      transform: rotate(160deg); }
      .chain-loader .segs .seg:nth-child(17) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-16 1680ms 960ms ease infinite; }
    .chain-loader .segs .seg:nth-child(18) {
      transform: rotate(170deg); }
      .chain-loader .segs .seg:nth-child(18) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-17 1680ms 1020ms ease infinite; }
    .chain-loader .segs .seg:nth-child(19) {
      transform: rotate(180deg); }
      .chain-loader .segs .seg:nth-child(19) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-18 1680ms 1080ms ease infinite; }
    .chain-loader .segs .seg:nth-child(20) {
      transform: rotate(190deg); }
      .chain-loader .segs .seg:nth-child(20) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-19 1680ms 1140ms ease infinite; }
    .chain-loader .segs .seg:nth-child(21) {
      transform: rotate(200deg); }
      .chain-loader .segs .seg:nth-child(21) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-20 1680ms 1200ms ease infinite; }
    .chain-loader .segs .seg:nth-child(22) {
      transform: rotate(210deg); }
      .chain-loader .segs .seg:nth-child(22) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-21 1680ms 1260ms ease infinite; }
    .chain-loader .segs .seg:nth-child(23) {
      transform: rotate(220deg); }
      .chain-loader .segs .seg:nth-child(23) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-22 1680ms 1320ms ease infinite; }
    .chain-loader .segs .seg:nth-child(24) {
      transform: rotate(230deg); }
      .chain-loader .segs .seg:nth-child(24) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-23 1680ms 1380ms ease infinite; }
    .chain-loader .segs .seg:nth-child(25) {
      transform: rotate(240deg); }
      .chain-loader .segs .seg:nth-child(25) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-24 1680ms 1440ms ease infinite; }
    .chain-loader .segs .seg:nth-child(26) {
      transform: rotate(250deg); }
      .chain-loader .segs .seg:nth-child(26) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-25 1680ms 1500ms ease infinite; }
    .chain-loader .segs .seg:nth-child(27) {
      transform: rotate(260deg); }
      .chain-loader .segs .seg:nth-child(27) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-26 1680ms 1560ms ease infinite; }
    .chain-loader .segs .seg:nth-child(28) {
      transform: rotate(270deg); }
      .chain-loader .segs .seg:nth-child(28) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-27 1680ms 1620ms ease infinite; }
    .chain-loader .segs .seg:nth-child(29) {
      transform: rotate(280deg); }
      .chain-loader .segs .seg:nth-child(29) .bar {
        opacity: 0;
        box-shadow: 0px 2px 3px -5px rgba(238, 238, 238, 0.34), 0px 3px 4px -2px rgba(239, 239, 239, 0.28), 0px 5px 6px 2px rgba(255, 254, 238, 0.15);
        transform: rotate(-45deg);
        animation: fanMoving-28 1680ms 1680ms ease infinite; }

@keyframes fanMoving-0 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-1 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-2 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-3 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-4 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-5 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-6 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-7 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-8 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-9 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-10 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-11 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-12 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-13 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-14 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-15 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-16 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-17 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-18 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-19 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-20 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-21 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-22 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-23 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-24 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-25 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-26 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-27 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fanMoving-28 {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes heartBeat {
  0% {
    transform: translateY(0%); }
  60% {
    transform: translateY(-10px); }
  80% {
    transform: translateY(0%); } }

/*# sourceMappingURL=loaders.css.map */
