.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 0 .5px rgba(49, 49, 93, .03), 0 2px 5px 0 rgba(49, 49, 93, .1), 0 1px 2px 0 rgba(0, 0, 0, .08);
  .search-bar-input {
    padding: 5px 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    input {
      position: relative;
      border: none;
      box-shadow: none;
      font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Hiragino Kaku Gothic Pro", Meiryo, "Malgun Gothic", sans-serif;
      font-size: 18px;
      height: 30px;
    }
    input:focus{
      border: none;
      box-shadow: none;
    }
  }
  .search-bar-icon {
  }
}

.search-bar.left {
  align-self: flex-start;
}

.search-bar.right {
  align-self: flex-end;
}