@mixin trans($time:0.6s) {
  -webkit-transition: all $time;
  -moz-transition: all $time;
  -ms-transition: all $time;
  -o-transition: all $time;
  transition: all $time;
}

.scroll-select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row;
  align-self: stretch;
  flex: 1;
  width: 100%;
  font-size: 20px;
  background: #f9f9f9;
  .left-scroll, .right-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 5px;
    cursor: pointer;
    background-color: #e6e6e6;
    &:hover {

    }
    i {
      text-align: center;
      vertical-align: middle;
      font-size: 30px;
      pointer-events: none;
    }
  }
  .left-scroll {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .right-scroll {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .scroll-options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    flex: 10;
    .scroll-option {
      padding: 5px 15px;
      text-align: center;
      vertical-align: middle;
      @include trans();
      font-family: 'Raleway', sans-serif;
      color: #5e5e5e;
      text-shadow: 0 0 3px silver;
      font-weight: 500;
    }
    .scroll-option.hidden {
      padding: 0px 0px;
      opacity: 0.5;
      text-shadow: none;
      @include trans();
    }
  }
}

.scroll-select.fixed, .width-1 {
  width: 40vw;
}
